{{ form_start(form) }}
   
    <div class="row">  
     <div class="col col-2">{{ form_label(form.date) }} </div>
     <div class="col col-2">{{ form_widget(form.date) }}</div>
     </div>
     
     <div class="row">  
     <div class="col col-2">{{ form_label(form.c1) }} </div>
     <div class="col col-2">{{ form_widget(form.c1) }}</div>
     </div>
     
     
      <div class="row">  
        <div class="col col-2">{{ form_label(form.c2) }} </div>
        <div class="col col-2">{{ form_widget(form.c2) }}</div>
        <div class="col col-2">{{ form_label(form.c3) }} </div>
        <div class="col col-2">{{ form_widget(form.c3) }}</div>
      
     </div>
     
     <div class="row">  
        <div class="col col-2">{{ form_label(form.c4) }} </div>
        <div class="col col-2">{{ form_widget(form.c4) }}</div>
        <div class="col col-2">{{ form_label(form.c5) }} </div>
        <div class="col col-2">{{ form_widget(form.c5) }}</div>
        <div class="col col-2">{{ form_label(form.c16) }} </div>
        <div class="col col-2">{{ form_widget(form.c16) }}</div>
       </div>
     
     <div class="row">  
     <div class="col col-2">{{ form_label(form.c6) }} </div>
     <div class="col col-2">{{ form_widget(form.c6) }}</div>
     </div>
     <div class="row">  
     <div class="col col-2">{{ form_label(form.c7) }} </div>
     <div class="col col-2">{{ form_widget(form.c7) }}</div>
     </div>
     <div class="row">  
     <div class="col col-2">{{ form_label(form.c8) }} </div>
     <div class="col col-2">{{ form_widget(form.c8) }}</div>
     </div>
     <div class="row">  
     <div class="col col-2">{{ form_label(form.c9) }} </div>
     <div class="col col-2">{{ form_widget(form.c9) }}</div>
     </div>
     <div class="row">  
     <div class="col col-2">{{ form_label(form.c10) }} </div>
     <div class="col col-2">{{ form_widget(form.c10) }}</div>
     </div>
     <div class="row">  
     <div class="col col-2">{{ form_label(form.c11) }} </div>
     <div class="col col-2">{{ form_widget(form.c11) }}</div>
     </div>
     <div class="row">  
     <div class="col col-2">{{ form_label(form.c13) }} </div>
     <div class="col col-2">{{ form_widget(form.c13) }}</div>
     </div>
     <div class="row">  
     <div class="col col-2">{{ form_label(form.c14) }} </div>
     <div class="col col-2">{{ form_widget(form.c14) }}</div>
     </div>
     
    
    
    <button class="btn btn_link">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
