{% extends 'base.html.twig' %}

{% block title %}New Euros{% endblock %}

{% block body %}
    <div class="container bg-light">

   <h2>Nouvelle écriture</h2>
   {{ form_start(form) }}
  
   <div class="row">
  <div class="col">{{ form_row(form.date) }}</div>
  <div class="col">{{ form_row(form.libelle) }}</div>
  </div>
   <div class="row">
  <div class="col">{{ form_row(form.credit) }}</div>
  <div class="col">{{ form_row(form.debit) }}</div>
  </div>

  <div class="row">
  <div class="col">{{ form_row(form.compte) }}</div>
  <div class="col">{{ form_row(form.cbid) }}</div>
  </div>
  {{ form_end(form) }}
  </div>
  
 
{% endblock %}
